
@{
    ViewBag.Title = @Resources.Resources.administracion;
    Layout = "~/Areas/EstadoFuerza/Views/Shared/_Layout.cshtml";
}

<h1 style="display: block; width: 51%;  color: #f00;">@Resources.Resources.administracion_permiso_denegado!</h1>


