<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\deploy\MVC2013.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>protecciontotal</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVC2013.Models.AppEntities, MVC2013" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppEmpresa1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=127.0.0.1,1434;Initial Catalog=pt_administracion;Integrated Security=False;User ID=sa;Password=sapassword;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppEmpresa1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AppModel.csdl|res://*/Models.AppModel.ssdl|res://*/Models.AppModel.msl;provider=System.Data.SqlClient;provider connection string='data source=127.0.0.1,1434;initial catalog=&quot;pt_administracion&quot;;integrated security=false;MultipleActiveResultSets=true;user id=sa;password=sapassword;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AppEmpresa2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=127.0.0.1,1434;Initial Catalog=emp1_pt_administracion;Integrated Security=False;User ID=sa;Password=sapassword;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppEmpresa2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AppModel.csdl|res://*/Models.AppModel.ssdl|res://*/Models.AppModel.msl;provider=System.Data.SqlClient;provider connection string='data source=127.0.0.1,1434;initial catalog=&quot;emp1_pt_administracion&quot;;integrated security=false;MultipleActiveResultSets=true;user id=sa;password=sapassword;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AppEmpresa3" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=127.0.0.1,1434;Initial Catalog=emp2_pt_administracion;Integrated Security=False;User ID=sa;Password=sapassword;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppEmpresa3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AppModel.csdl|res://*/Models.AppModel.ssdl|res://*/Models.AppModel.msl;provider=System.Data.SqlClient;provider connection string='data source=127.0.0.1,1434;initial catalog=&quot;emp2_pt_administracion&quot;;integrated security=false;MultipleActiveResultSets=true;user id=sa;password=sapassword;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppEntities-Web.config Connection String" />
  </ItemGroup>
</Project>