@{
    ViewBag.Title = "Recursos Humanos";
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}

<div class="label-primary btn-lg"><h2>@Resources.Resources.recursos_humanos_menu_recursos_humanos</h2></div>
