
@{
    ViewBag.Title = @Resources.Resources.administracion;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<div class="label-primary btn-lg"><h2>@Resources.Resources.administracion</h2></div>