
@{
    ViewBag.Title = @Resources.Resources.recursos_humanos;
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}


<h1 style="display: block; width: 51%;  color: #f00;">@Resources.Resources.administracion_permiso_denegado!</h1>
