@using Microsoft.AspNet.Identity

@*<div class="navbar navbar-inverse navbar-fixed-top">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->*@
<div class="login-logo" style="background-color:white; opacity:0.5">
    <a href="#" class="logo">
        
        <img src="@Url.Content("~/Content/AdminLte/img/logo.png")" width="274" height="82" class="" alt="User Image" />
    </a>
</div>

        <!-- Header Navbar -->
        @*<nav class="navbar navbar-static-top" role="navigation"></nav>
                        </header>
            </div>*@
