@{
    ViewBag.Title = "Acerca de";
}
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p> Somos una empresa de seguridad integral con un enfoque altamente tecnológico y con altos niveles de ética, valores y principios.</p>
