@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida Hincapie 29-75<br />
    Zona 13, Guatemala, Guatemala<br />
    <abbr title="Telefono">Tel:</abbr>
    2311-9393
</address>

<address>
    <strong>Soporte:</strong>   
    <a href="mailto:sistemas@protecciontotal.gt">sistemas@protecciontotal.gt</a>
    <br />
    
</address>